<h3><center>Project Search</center></h3>
<form action="/projects">
  <div class="form-group">
    <input id="search" name="search" class="form-control bg-success" type="text">
  </div>
  <button type="submit" class="btn btn-primary">Go!</button>
</form>

<h3><center>Available projects</center></h3>
<% if @projects.any? %>
<ul>
  <% @projects.each do |project| %>
  <li><a href="home/project/<%= project.id %>"><strong><%= project.title %></strong></li>
    <% end %>
  </ul>
  <% else %>
  <p>There are currently no projects to display.</p>
  <% end %>

  <p><a href="/project/new">Create project</a></p>

  <h3><center>Available volunteers</center></h3>
  <% if @volunteers %>
  <ul>
    <% @volunteers.each do |volunteer| %>
    <li><strong><%= volunteer.name %></strong></li>
      <% end %>
    </ul>
    <% else %>
    <p>There are currently no volunteers to display.</p>
    <% end %>

    <p><a href="/volunteer/new">Add Volunteer</a></p>

    <p><a id="warning" href="/destroy">DELETE ALL DATA</a></p>
